@font-face {
    font-family: Gilroy;
    src: url(../font/Gilroy-Light.otf);
}
@font-face {
    font-family: Gilroy;
    src: url(../font/Gilroy-ExtraBold.otf);
    font-weight: 900;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container {
    width: 1660px;
}

.header {
    &_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & input {
            width: 1240px;
            height: 59px;
            border-radius: 30px;
            box-shadow: 0 0 30px 0 rgb(97, 97, 97, .2);
            border: none;
            background: url('../img/search.svg') no-repeat left center / cover;
            background-size: auto;
            background-position: 30px;
            &::placeholder {
                padding-left: 82px;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
    &_icons a {
        padding-left: 50px;
        &:first-child {
            padding-left: 0;
        }
    }
}

.news {
    padding-top: 100px;
    &_title {
        display: flex;
        justify-content: space-between;
        &_text {
            font-size: 50px;
            font-weight: 900;
        }
        &_more {
            font-size: 25px;
            font-weight: 500;
            text-decoration: underline;
            color: #000;
        }
    }
    &_blocks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 60px;
        gap: 20px;
    }
    &_block {
        box-shadow: 0 0 30px 0 rgb(97, 97, 97, .1);
        background-color: #fff;
        box-shadow: #929292;
        display: flex;
        align-items: center;
        border-radius: 20px;
        transition: all .3s ease;
        &:hover {
            transform: scale(1.03);
        }
        &_text {
            width: 459px;
            margin: 40px 81px 30px 84px;
            &_title {
                font-size: 25px;
                font-weight: 700;
            }
            &_subtitle {
                font-size: 20px;
                font-weight: 500;
                padding: 30px 0;
            }
            &_detail {
                font-size: 20px;
                font-weight: 500;
                color: #F9B300;
                padding-bottom: 30px;
            }
        }
        &_without-img {
            box-shadow: 0 0 30px 0 rgb(97, 97, 97, .1);
            width: 600px;
            background-color: #fff;
            box-shadow: #929292;
            display: flex;
            align-items: center;
            border-radius: 20px;
            transition: all .3s ease;
            &:hover {
                transform: scale(1.03);
            }
            &_text {
                width: 428px;
                margin: 40px 112px 50px 140px;
                &_title {
                    font-size: 25px;
                    font-weight: 700;
                }
                &_subtitle {
                    font-size: 20px;
                    font-weight: 500;
                    padding: 30px 0;
                }
                &_detail {
                    font-size: 20px;
                    font-weight: 500;
                    color: #F9B300;
                    padding-bottom: 30px;
                }
            }
        }
    }
}

.block {
    &_1{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    &_2{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    &_3{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    &_4{
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
}

.bg {
    position: absolute;
    margin-top: 300px;
    z-index: -1;
}

.bg2 {
    position: absolute;
    margin-top: 600px;
    z-index: -1;
}

.bg3 {
    position: absolute;
    margin-top: 1400px;
    z-index: -2;
}

.bg4 {
    position: absolute;
    margin-top: 2317px;
    z-index: -2;
}

.bg5 {
    position: absolute;
    margin-top: 1950px;
    z-index: -2;
}

.inst {
    margin-top: 97px;
    &_wrap {

    }
    &_title {
        display: flex;
        align-items: center;
        &_text {
            font-size: 50px;
            font-weight: 900;
            padding-right: 54px;
        }
    }
    &_block {
        &_iphones {
            margin-left: -100px;
            &_1 {
                position: absolute;
            }
            &_2 {
                position: absolute;
                padding-top: 160px;
            }
        }
        &_grid {
            margin-left: 700px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            &_block {
                width: 400px;
                height: 382px;
                background-color: #E9E9E9;
            }
        }
    }
}

.sub {
    margin-top: 300px;
    &_wrap {

    }
    &_beans {
        position: absolute;
        margin-left: 1063px;
        margin-top: -270px;
    }
    &_coffee {
        position: absolute;
        margin-left: 1150px;
        margin-top: -170px;
    }
    &_title {
        font-size: 50px;
        font-weight: 900;
    }
    &_subtitle {
        padding-top: 50px;
        font-size: 25px;
        font-weight: 500;
        width: 800px; 
    }
    &_input {
        margin-top: 60px;
        padding: 24px 0 20px 60px;
        width: 1100px;
        background-color: #F3F3F3;
        border: none;
        border-radius: 40px;
        &::placeholder {
            font-size: 25px;
            font-weight: 500;
            color: #C9C9C9;
        }
        &_subtitle {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 500;
            color: #5B5B5B;
            & a {
                color: #F9B300;
                text-decoration: none;
            }
        }
    }
}

.footer {
    &_wrap {
        margin-top: 190px;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    &_items a {
        padding-left: 100px;
        color: #000;
        &:first-child {
            padding-left: 0;
            }
        }
    }
}